$top-ground: #fff;

$title-shadow: rgba(0,0,0,0.4);

$main-font: #000000;
$main-icon: #3CCACE;
$link-font: #ffffff;
$link-ground: #272727;
$category-font: #333;
$category-ground: #f8f8f8;
$category-shadow: rgba(156,86,86,0.1);

$user-ground1: #fafafa;
$user-ground2: rgba(224,153,153,0.5);
$user-ground3: rgba(245,245,245,0.5);








