.field
  = f.label :current_password
  %i (we need your current password to confirm your changes)
  
  = f.password_field :current_password, autocomplete: "current-password"
  = f.file_field :avatar
.actions
  = f.submit "Update"