.wrapper
  .header
    .image 
      = image_tag "/logo/logo.png", width:'185px', height:'49px'
    .progress-bar
  .register-main
    .register-container
      .register-head 
        ログアウトが完了しました
        %br/
        = link_to "トップへ戻る", root_path, class: "top-return-btn"
  .register-footer