.user__show
  .l-container
    .left--content
      %a.link_order(href="#")
        マイページ
        %i.icon-arrow-right
      %a.link_order(href="#")
        お知らせ
      %a.link_order(href="#")
        やることリスト
      %a.link_order(href="#")
        いいね！一覧
      %a.link_order(href="#")
        出品する
      %a.link_order(href="#")
        下書き一覧
      %a.link_order(href="#")
        出品した商品 - 出品中
      %a.link_order(href="#")  
        出品した商品 - 取引中
      %a.link_order(href="#") 
        出品した商品 - 売却済み
      %a.link_order(href="#") 
        購入した商品 - 取引中
      %a.link_order(href="#")
        購入した商品 - 過去の取引
      %a.link_order(href="#") 
        ニュース一覧
      %a.link_order(href="#") 
        評価一覧
      %a.link_order(href="#")
        ガイド 
      %a.link_order(href="#") 
        お問い合わせ

      %h3.setting--logo
        設定
      %a.link_order(href="#")
        プロフィール
      %a.link_order(href="#")
        発送元・お届け先住所変更
      %a.link_order(href="#")
        支払い方法
      %a.link_order(href="#")
        メール/パスワード
      %a.link_order(href="#")
        本人情報
      %a.link_order(href="#")
        電話番号の確認
      %a.link_order(href="#")
        ログアウト
    .right--content