.pickup
  .pickup__head
    %h2 ピックアップカテゴリー
  .pickup__product
    .pickup__product__box
      = link_to "items" do
        %h3 新規投稿商品
    .pickup__product__lists
      = render partial: 'itemcard', locals: { item: @item }

%last-child
  .pickup
    .pickup__head
      %h2 ピックアップブランド
    .pickup__product
      .pickup__product__box
        = link_to "items" do
          %h3 アーカイブ
      .pickup__product__lists
        = render partial: 'itemcard', locals: { item: @item }