.pickup
  .pickup__head
    %h2 ピックアップカテゴリー
  .pickup__product
    .pickup__product__box
      %a(href="#")
        %h3 新規投稿商品
    .pickup__product__lists
      .pickup__product__lists__list
        =link_to "#", class: "item" do
          .pickup__product__lists__list__img
            %img(src="a007.png" alt="魚")/
          .pickup__product__lists__list__body
            %h3 product3
            .pickup__product__lists__list__body__date
              %ul.praces
                %li.prace 30000円
                %li.prace
                  %i ★ 0
              %p (税込)
      .pickup__product__lists__list
        %a(href="#")
          .pickup__product__lists__list__img
            %img(src="a004.png" alt="肉")/
          .pickup__product__lists__list__body
            %h3 product3
            .pickup__product__lists__list__body__date
              %ul
                %li 20000円
                %li
                  %i ★ 0
              %p (税込)
      .pickup__product__lists__list
        %a(href="#")
          .pickup__product__lists__list__img
            %img(src="a001.png" alt="カレー")/
          .pickup__product__lists__list__body
            %h3 product3
            .pickup__product__lists__list__body__date
              %ul
                %li 10000円
                %li
                  %i ★ 0
              %p (税込)
.pickup
  .pickup__head
    %h2 ピックアップブランド
  .pickup__product
    .pickup__product__box
      %a(href="#")
        %h3 アーカイブ
    .pickup__product__lists
      .pickup__product__lists__list
        =link_to "#", class: "item" do
          .pickup__product__lists__list__img
            %img(src="a007.png" alt="魚")/
          .pickup__product__lists__list__body
            %h3 product3
            .pickup__product__lists__list__body__date
              %ul.praces
                %li.prace 30000円
                %li.prace
                  %i ★ 0
              %p (税込)
      .pickup__product__lists__list
        %a(href="#")
          .pickup__product__lists__list__img
            %img(src="a004.png" alt="肉")/
          .pickup__product__lists__list__body
            %h3 product3
            .pickup__product__lists__list__body__date
              %ul
                %li 20000円
                %li
                  %i ★ 0
              %p (税込)
      .pickup__product__lists__list
        %a(href="#")
          .pickup__product__lists__list__img
            %img(src="a001.png" alt="カレー")/
          .pickup__product__lists__list__body
            %h3 product3
            .pickup__product__lists__list__body__date
              %ul
                %li 10000円
                %li
                  %i ★ 0
              %p (税込)
  