.main
  .main__container
    .main__container__header
      .main__container__header__categoly
        %ul
          %li
            %a(href="") おもちゃ
          %li
            %a(href="") タレントグッズ
          %li
            %a(href="") その他
          %li
            %a(href="") トレーディングカード
          %li
            %a(href="") フィギュア
          %li
            %a(href="") コミック/アニメグッズ
          %li
            %a(href="") 美術品
    .main__container__body
      %h1 おもちゃ・ホビー・グッズの商品一覧
      .main__container__body__items
        .main__container__body__items__box
          %a(href="#")
            .main__container__body__items__box__photo
              = image_tag "/a001.png"
            .main__container__body__items__box__type
              .main__container__body__items__box__type__praice
                .main__container__body__items__box__type__praice__en
                  ¥300円
              .main__container__body__items__box__type__name
                %h3 商品名
    .main__container__page
      %ul
        %li
          %ul
            %li.cell.num 1
            %li.cell
              %a(href="#") 2
            %li.cell
              %a(href="#") 3
            %li.cell
              %a(href="#") 4
            %li.cell
              %a(href="#") 5
          = paginate @users
        %li.next
          %ul
            %li.cell
              %a(href="#") 
                %i.fa.fa-angle-right
            %li.cell
              %a(href="#")
                %i.fa.fa-angle-double-right
    .main__container__footer
      .main__container__footer__title
        %h3 おもちゃ・ホビー・グッズ
      .main__container__footer__text
        %p 説明テキスト入力