-# ヘッダー
= render partial: 'header'

.all-item
  .all-item__main
    .all-item__main__left
    .all-item__main__right
      .all-item__main__right__box
        %h2 新着商品一覧
      = render partial: 'itemcard'
    
= paginate @users

-# フッター
= render partial: 'footer'