.item__create
  .item__header
    .item__header--logo
      %img(src="/logo/logo.png" alt="logo" class="item__header--logo__size")/
  .item__contents
    .item__content
      .item__info
        =form_with model: @item, local:true do |f|
          =f.label :item_image, '出品画像', class: "item__info--shipping_image"
          .item__info--image 
            #image-box
              -# =f.label :item_image, class:"item__info--shipping_image--label" do
              -#   %i.fa.fa-image.item__info--shipping_image--icon
              =f.fields_for :item_images do |i|
                .js-file_group{"data-index": "#{i.index}"}
                  =i.file_field :image_url , class: "js-file"
                  %span.js-remove
                    削除
          =f.label :name, '商品名', class: "item__info--name"
          =f.text_field :name, class: "item__info--name--input"
          =f.label :details, '商品の説明', class: "item__info--detail"
          =f.text_area :details, class:"item__info--detail--input"
          =f.label :price, '販売価格', class: "item__info--price"
          =f.number_field :price, class:"item__info--price--input"
          =f.submit "出品する", class:"item__shipping__btn--ship"
      .item__shipping-show
        %p
          商品の詳細

        -# これからデータベースと他の機能がしっかり作成されてから以下の部分は作る（カテゴリーなど）
        %a.item__shipping__btn--draft(href="#")
          下書きに保存
