.main {
  background: #f5f5f5;
  height: 100%;
  width: 100vw;
  &__container {
    height: 100%;
    width: 1020px;
    margin: 0 auto;
    &__header {
      padding-top: 40px;
      &__categoly {
        ul {
          li {
            float: left;
            margin: 16px 16px 0 0;
            a {
              color: #0099e8;
              text-decoration: none;
            }
          }
        }
      }
    }
    &__body {
      height: 1000px;
      display: inline-block;
      width: 100%;
      h1 {
        font-size: 22px;
        margin: 24px 0 8px;
      }
      &__items {
        // width: 92%;
        margin: 0 auto;
        &__box {
          width: 20%;
          margin: 0 4px 4px 0;
          a {
            display: block;
            color: #333;
            background-color: white;
            &__photo {
              width: 100%;
              height: auto;
              img {
                top: 50%;
              }
            }
            &__type {
              &__praice {
                &__en {
                }
              }
              &__name {
                h3 {
                }
              }
            }
          }
        }
      }
    }
    &__page {
      margin: 20px 0 0;
      ul {
        text-align: center;
        list-style: none;
        li.cell {
          display: inline-block;
          width: 44px;
          border-radius: 4px;
          background: #fff;
          border: 1px solid #ccc;
          font-size: 14px;
          line-height: 42px;
        }
        li.num {
          color: #fff;
          background: #ea352d;
        }
        a {
          i {
            font-size: 18px;
            position: inherit;
            transform: translate(0);
          }
        }
      }
    }
    &__footer {
      margin-top: 30px;
      padding-bottom: 40px;
      &__title {
        text-align: center;
        h3 {
          padding: 16px 8px;
          font-size: 22px;
          background-color: red;
          color: white;
        }
      }
      &__text {
        padding: 30px;
        background-color: #fff;
        p {
          line-height: 1.6em;
        }
      }
    }
  }
}
