.all-item {
  background: #f8f8f8;
  &__main {
    padding: 40px;
    margin: 0 auto;
    &__on {
      width: 700px;
      margin: 0 auto;
      padding: 16px 8px;
      a.category {
        background-color: #fff;
        float: left;
        border-radius: 4px;
        min-width: 80px;
        line-height: 40px;
        box-shadow: 0 0 5px rgba(0,0,0,0.4);
        text-align: center;
        padding: 0 30px;
        margin: 5px;
        color: #333;
        text-decoration: none;
      }
    }
    &__left {
      float: left;
    }
    &__right {
      width: 700px;
      margin: 0 auto;
      &__box {
        background-color: #fff;
        border-radius: 5px;
        h2 {
          border-radius: 5px 5px 0 0;
          padding: 16px 10px 8px;
          background-color: #3CCACE;
          color: #fff;
          text-align: center;
          font-weight: bold;
          font-size: 22px;
        }
      }
      &__lists {
        width: 100%;
        margin: 30px 0;
        text-decoration: none;
        &__list {
          float: left;
          width: calc(100% / 3);
          margin: 0 0 10px;
          a.link {
            text-decoration: none;
            display: inline-block;
            margin: 0 0 20px 0;
            position: relative;
            background-color: #fff;
          }
            &__img {
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
            &__body {
              background-color: white;
              color: #333;
              padding: 16px;
              h3.name {
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              &__details {
                font-size: 16px;
                ul {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  list-style: none;
                  li {
                    i {
                      display: inline-block;
                      font: normal normal normal 14px/1 FontAwesome;
                      font-size: inherit;
                      text-rendering: auto;
                      -webkit-font-smoothing: antialiased;
                    }
                  }
                }
                p {
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          
        }
      }
    }
    ::after {
      display: block;
      content: "";
      clear: both;
    }
  }
}

.all-item__main__right__lists__list__body__detail__sold {
  width: 0;
  height: 0;
  border-width: 120px 120px 0 0;
  border-color: #ea352d transparent transparent transparent;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-style: solid;
}
  .all-item__main__right__lists__list__body__detail__sold__sall {
    top: -90px;
    font-size: 30px;
    position: absolute;
    left: 0;
    z-index: 2;
    color: #fff;
    transform: rotate(-45deg);
    letter-spacing: 2px;
    font-weight: 600;
  }