.root-back{
  background-color: green;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  height: 50px;
  width: 200px;
  line-height: 2.5;
  text-align: center;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.buyer{
  height: 50px;
  width: 50px;  
  position: absolute;
  top: 0px;
  left: 210px;
  border-bottom: 50px solid transparent;
  border-left: 50px solid red;
  border-top: 50px solid red;
  border-right: 50px solid transparent;

  .sold{
    position: absolute;
    top: -35px;
    left: -50px;
    transform: rotate(-45deg);
    color: white;
    font-size: 30px;
  }
}